@import url(../lib/font-awesome/css/font-awesome.min.css);
@import url(../lib/owl/css/owl.carousel.css);
@import url(../lib/magnific/css/magnific-popup.min.css);
@import url(../lib/animate/animate.min.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*fonts*/

@font-face {
   font-family:graphiksemibold;
   src: url(../fonts/GraphikSemibold.otf);
}
@font-face {
   font-family:graphikregular;
   src: url(../fonts/GraphikRegular.otf);
}
@font-face {
   font-family:bebasNeue_bold;
   src: url(../fonts/BebasNeue_Bold.ttf);
}
@font-face {
   font-family:graphikmedium;
   src: url(../fonts/GraphikMedium.otf);
}


/*end fonts*/



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family:graphikregular;
}
p,
a,
li {

    font-size: 14px;
    font-family:graphikregular;
}
a {
    color: var(--main-subheading-color);
    transition: 0.5s;
}
b, strong {
    font-family:graphikregular;
}
a:hover,
a:active,
a:focus {
    color: #07427f;
    outline: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
p {
    padding: 0;
    font-size: 16px;
    font-family:graphikregular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0;
   font-family:bebasNeue_bold;
    text-transform: uppercase;
    color: #000000;
}
.space{
    padding: 100px 0px;
}
.color {
    color: var(--main-button-bg);
    font-weight: 600;
}
.section-bg-grey {
    background-color: #f5f5f5;
}
.section-bg-yellow {
    background-color: #ffc938;
}
/*btn*/
.btn.btn-info {
    background-color: #fcae26;
    color: #000;
    border-color: #000;
    font-weight: normal;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    padding: 8px 22px;
    min-width: 197px;
    min-height: 57px;
        border-radius: 5px;
    line-height: 41px;
}
ul.stars.list-unstyled li {
    display: inline-block;
    margin-top: 10px;
    color: #ffab59;
}
ul.stars.list-unstyled {
    padding: 0;
}
/*end btn*/

sup.qty {
    background: #c4151c;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
    right: -10px;
    top: 0;
    color: #fff;
    position: absolute;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.cart_num{
    position: relative;
}
.main-nav li a:hover {
    color: #ffffff;
    opacity: 0.9;
}
.cart_num span {
   position: absolute;
    background: #e01e1e;
    width: 18px;
    border-radius: 50%;
    right: -15px;
    height: 18px;
    display: flex;
    top: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}

#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 0px 0;
    /*position: fixed;*/
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    /*box-shadow: 0px 0px 5px rgba(187, 187, 187, 0.3);*/
}

span.heading-second {
    color: var(--main-button-bg);
}
#topbar {
    background: #181718;
}

#topbar .top_content a {
    color: #fff;
    font-size: 14px;
    margin: 0;
    display: block;
    padding: 9px 0px;
}
#topbar .soical_icon ul {
    list-style-type: none;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin: 0;
    display: flex;
}

#topbar .soical_icon ul a {
    color: #fff;
    font-size: 14px;
}

#topbar .soical_icon ul li {
    margin-right: 50px;
}

#topbar .soical_icon ul a i {
    color: #fcae26;
    margin-right: 7px;
}

#topbar .soical_icon ul li:last-child {
    margin: 0px;
}
#header.header-scrolled,
#header.header-pages {
    padding: 0px 0;
    background-color: var(--white-text-color);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled .logo img,
#header.header-pages .logo img {
    margin: 0px 0px 8px 0px;
}

#header.header-pages .main-nav > ul > li,
#header.header-scrolled .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
    /*  line-height: 50px;*/
}

#header.header-pages #bottom-bar,
#header.header-scrolled #bottom-bar {
    height: unset;
}
#header.header-pages #bottom-bar .top-header,
#header.header-scrolled #bottom-bar .top-header {
    padding-top: 0px;
}
#header.header-scrolled #bottom-bar {
    min-height: 95px;
}
#header.header-scrolled #bottom-bar .main-nav a.appointment-btn,
#header.header-pages #bottom-bar .main-nav a.appointment-btn {
    margin-top: 20px;
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
    display: none;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: var(--main-heading-color);
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    max-width: 303px;
    transition: all 0.5s ease-in-out 0s !important;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
}
#header.header-scrolled .logo img {
    max-width: 120px;
    transition: all 0.5s ease-in-out 0s !important;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
}
.main-pages {
    margin-top: 60px;
}

#bottom-bar {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 118px;
    
    }

#bottom-bar .main-nav a.appointment-btn {
    height: 36px;
    background: var(--main-button-bg);
    line-height: 22px;
    margin-top: 27px;
    color: #fff;
    font-size: 16px;
    padding: 13px 30px;
    /*  border-radius: 5px;*/
    font-weight: normal;
}

#bottom-bar .main-nav a.appointment-btn:hover {
    background: #000;
}
.searchbar .form-control {
    border-radius: 0;
    background: transparent;
    border: 1px solid #000;
}
.searchbar .form-control:focus {
    background: transparent;
    box-shadow: 0px 0px 7px #e1e1e1;
    border-color: #c4151c;
}
.searchbar {
    position: relative;
}
.searchbar button[type="submit"] {
    padding: 13px 20px;
    background: transparent;
    font-size: 17px;
    color: #000;
    position: absolute;
    right: 0;
    top: 0;
}
.cart_block ul li {
    display: inline;
    line-height: 50px;
    margin: 0px 4px;
}
.cart_block ul li img {
    height: 20px;
}
.cart_block ul {
    display: inline-block;
    margin: 0;
}

.cart_block {
    text-align: right;
    padding-right: 9px;
}

.cart_block ul li a {
    font-size: 22px;
    color: #000;
    /* border-left: 2px solid #ddd; */
    /* line-height: 5px; */
    position: relative;
}


#header.header-scrolled .nav_main {
    transform: unset;
    transition: all 0.5s ease-in-out 0s !important;
    -webkit-transition: all 0.5s ease-in-out 0s !important;
}
.categories h2 {
    margin: 0;
    font-size: 16px;
    background: #c4151c;
    color: #fff;
    padding: 17px 27px;
    text-align: center;
    position: relative;
}
.categories h2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c4151c;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    z-index: 10;
}
.top-header {
    /* padding-top: 20px; */
}
.list-unstyled.c_submenu {
    background: #fff;
    padding: 10px 0px;
    margin-top: 0;
    display: none;
    position: absolute;
    width: calc(100% - 15px);
    box-shadow: 2px 2px 7px #cecece;
}
.categories:hover {
    cursor: pointer;
}
.list-unstyled.c_submenu li a:hover span {
    transform: translatex(-5px);
}
.categories:hover .c_submenu {
    display: block !important;
}
.categories:hover h2:after {
    opacity: 1;
}
.list-unstyled.c_submenu li a span {
    float: right;
    color: #c4151c;
    font-size: 16px;
    transition: 0.3s;
}
.list-unstyled.c_submenu li a {
    padding: 10px 20px;
    display: inline-block;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
    /* Drop Down */
    /* Deep Drop Down */
}

.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin-right: 20px;
}

.single-features-box:hover .btn.btn-info {
    background: #000;
}
.main-nav a {
    display: inline-block;
    position: relative;
    color: #ffffff;
    padding: 16px 0px;

    font-size: 14px;
    font-family:graphiksemibold;
    text-transform: uppercase;
    font-weight: 500;
   
}

/*.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid #fcae26;
}*/

.main-nav .menu-item-has-children ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    background-color: #fff;
    transition: ease all 0.3s;
    box-shadow: 2px 2px 7px #cecece;
}

.main-nav .menu-item-has-children:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    line-height: unset;
}

.main-nav .menu-item-has-children li {
    min-width: 180px;
    position: relative;
    line-height: 0 !important;
    margin: 0 !important;
    display: block;
}
.main-nav ul li.menu-item-has-children ul li:after {
    content: none;
}
.main-nav .menu-item-has-children ul a {
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #000;
    line-height: unset;
    display: block;
    text-align: left;
}
.form-contents {
    margin-top: 20px;
}

.form-contents p {
    font-size: 14px;
    font-style: italic;
}

.form-contents h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}
.main-nav > ul {
    display: flex;
        justify-content: flex-end;
    /*justify-content: space-between;
    flex-wrap: wrap;
*/}
.main-nav .menu-item-has-children ul a:hover,
.main-nav .menu-item-has-children ul .active > a,
.main-nav .menu-item-has-children ul li:hover > a {
       color: #181718;
    background: #fcae26;
   
}
.main-nav .menu-item-has-children ul a{
        border-bottom: solid 1px #e0e0e0;
}
.main-nav .menu-item-has-children > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 0px;
}

.main-nav .menu-item-has-children .menu-item-has-children ul {
    top: 0;
    left: calc(100% - 30px);
}

.main-nav .menu-item-has-children .menu-item-has-children:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.main-nav .menu-item-has-children .menu-item-has-children > a {
    padding-right: 35px;
}

.main-nav .menu-item-has-children .menu-item-has-children > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}
.mobile_no {
    background: #c4151c;
    color: #fff;
    padding-left: 48px;
    line-height: 17px;
    padding-top: 6px;
    padding-bottom: 11px;
}

.mobile_no span:last-child {
    font-weight: bold;
    font-size: 16px;
}

.mobile_no span {
    font-size: 11px;
}

.mobile_no p {
    margin: 0;
}
.mobile_no p:after {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background: url(../img/phone.png);
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translatey(-50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #fff;
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #000;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
    color: #07427f;
    text-decoration: none;
    font-weight: bold;
}

.mobile-nav .menu-item-has-children > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.menu-item-has-children > a:after {
    content: "\f077";
}

.mobile-nav .menu-item-has-children > a {
    padding-right: 35px;
}

.mobile-nav .menu-item-has-children ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .menu-item-has-children li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: absolute;
    right: 0;
    top:7px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background: transparent !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: #000 !important;
}

.mobile-nav-toggle i {
    margin: 27px 10px 0 0;
    color: #fff;
}
#header.header-scrolled .mobile-nav-toggle i {
    margin: 15px 18px 0 0;
    color: #000;
}
.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: var(--white-text-color);
}

/*end mobile nav*/




/**/
.bg_img{
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.button_all .btn_a{
    background-color: #07427f;
    border: 0px;
    border-radius: 0px;
    padding: 14px 24px;
    margin-right: 14px;
}

.button_all .btn_w{
background-color: #fff;
border: 0px;
    border-radius: 0px;
    padding: 14px 25px;
    color: #000;
    margin-right: 14px;
}

/**/
/*banner*/
.banner {
    height: 614px;

}
.banner_img{
    position: relative;    
    /*height: 535px;*/
}
.banner_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_img:before{
       width: 100%;
    content: " ";
    background-image: url(../img/home-bnr.jpg);
    position: absolute;
    top: 0px;
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
    right: -119px;
}
.banner_text{
    /* position: absolute;
    top: 60px;
    right: 0px;*/
  
  position: relative;
    width: 54%;
}
.banner_text h1{
        font-family: bebasNeue_bold;
   
    color: #fff;
    font-size: 123px;
    
    line-height: 108px;
    letter-spacing: 4px;
        margin-bottom: 15px;
            padding-top: 40px;
}
.banner_text p{
    color: #fff;
    font-size: 16px;
    
}
.banner_button {
    margin-top: 15px;
}
.banner_button a{
       width: 210px;
    background-color: #07427f;
    font-size: 14px;
    border: 0px;
    padding: 14px 0px;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: graphiksemibold;
    margin-right: 15px;
}
.banner_button a:hover{
    background-color: #162b32 !important; 
    color: #fff !important;
}
.banner_button .btn_brown:hover{
    background-color: #07427f !important;
}
.button_all a:hover{
    background-color: #162b32; 
    color: #fff;
}

.btn_white{
    background-color: #fff !important;
    color: #000 !important;
}
/*end banner*/


/*complogo*/
.company_logo_top {
    padding: 50px 0px;
}
.company_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.company_logo ul li{
    list-style: none;
}
.comp_img {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*end complogo*/


/*register_box*/
.register_box_img {
    position: relative;
     border: 7px solid #fff;
    height: 411px;
}
.register_box_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;


}
.register_box_text{
    background-color: #07427f;
    height: 295px;
}
.register_box:hover .register_box_text {
    background-color: #162b32 ;
}

.register_box_text {
    padding: 40px;
    background-color: #07427f;
    height: 295px;
    position: absolute;
    top: 0px;
    margin: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 12px 30px #000000;
}
.register_box_text h2{
    color:#fff; 
    font-size: 40px;
    position: relative;
}
.register_box_text h2:after {
    content: "";
    display: block;
    background: #fff;
    width: 47px;
    height: 3px;
    margin-top: 8px;
    z-index: 3;
    /*position: absolute; */
    bottom: -11px;
    margin: 15px auto 0px;
}

.register_box_text p{
    color:#fff; 
    
}
.register_team {
    padding-bottom: 35px;
}
/*end register_box*/


/**/

.main_title h2{
    font-size: 60px;
    color: #162b32;
    text-align: center;
    margin-bottom: 56px;
    
}
.range_img_text{
    text-align: center;
}
.range_img_text p{
    font-family:graphikmedium;
}
.range_img {
    height: 319px;
    margin-bottom: 25px;
}
.range_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
/* [2] Transition property for smooth transformation of images */
.register_box_img{
    overflow: hidden;
}
.register_box_img img {
  transition: transform .9s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.register_box_img:hover img {
  transform: scale(1.2);
}
.btn_brown{
    background-color: #162b32 !important
}
.range .banner_button {
    margin-top: 40px;
}


/* [2] Transition property for smooth transformation of images */
.range_img{
    overflow: hidden;
}
.range_img img {
  transition: transform .9s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.range_img:hover img {
  transform: scale(1.2);
}

/**/


/*our_story_img*/
.our_story {
    /* position: relative; */
    /*height: 614px;*/
    height:44.9vw;
}
.our_story_img{
    position: relative;
}
.our_story_img:after{
           width: 100%;
    content: " ";
    background-image: url(../img/our_work.png);
    position: absolute;
    top: 0px;
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
    left: -120px;
}

.our_story_box{
       background-color: #07427f;
    position: absolute;
    right: -105px;
    /* margin: 164px; */
    width: 54%;
    padding: 65px;
    top: 138px;
    color: #fff;
}
.our_story_box h2{
    color: #fff;
    font-size: 40px;
}
.autor_name p{
    margin-bottom: 5px; 
}
.autor_name{
    position: relative;
        padding: 30px 0px 0px;
}

.autor_name:before {
    content: "";
    display: block;
    background: #fff;
    width: 47px;
    height: 3px;
    margin-top: 8px;
    z-index: 3;
    position: absolute; 
    top: -8px;
    margin: 15px 0px;
}
.foun{
font-size:14px;
margin-bottom: 0px; 
}
/*end our_story_img*/


.footer{
    background-color: #192027;
        padding-top: 254px;
}
.footer_text ul {
    padding: 0px;
}
.footer_text ul li img{
    margin-right: 10px;
}
.footer_text ul li{
    color: #fff;
    list-style: none;
    color: #808795;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
  
}

.footer_text  p{
     font-family:graphiksemibold;
     color: #fff;
}
.footer_text  .social li{
display: inline-block;
margin-right: 20px;
}
.footer_text .social li i {
    font-size: 20px;
}

.get_email{
    background-color: #1d2731;
    padding: 40px;
    margin: 25px 0px 5px;
}

.get_email h4{
text-transform: uppercase;
color: #fff;
 font-family:graphiksemibold;
 font-size: 18px;
}
.get_email input {
    border-radius: 0px;
    height: 50px;
    background-color: #c4c9cb;
     font-family:graphikregular;
     font-size: 14px;
}
#mail_btn{
   background-color: #080e10;
    color: #fff;
    border: none;
    border-radius: 0px;
    padding: 0px 45px;
    text-transform: uppercase;
    font-family:graphiksemibold;
    cursor: pointer;
}
#mail_btn:hover{
background-color: #07427f !important;

}

.copyright p {
    color: #808795;
    font-size: 12px;
}
.terms p {
    color: #808795;
    text-align: right;
}
.terms p a{
    color: #808795;
    font-size: 12px;
    
}
.terms p a:hover{
    color: #07427f;
}
.mobile_cart{
    display: none;
}
.user{
    display: block;
}
.cart_num{
    display: block;
}


/*responsive*/


@media (max-width: 768px) {
    .banner {
    height: 330px;
}
   
    .banner_img:before {
    right: -39px;
}
    .banner_text h1 {
   
    font-size: 55px;
    line-height: 55px;
    
    padding-top: 40px;
}
.banner_text{
    width: 100%;
}
.banner_button a {
    width: 135px;
}
.register_box_text{
        margin: 23px;
}
.register_box_img {
    height: 355px;
    margin-bottom: 15px;
}

.our_story {
    /* position: relative; */
     height: auto; 
}
.our_story_box{
    position: inherit;
    width: 100%;
    right: 0px;
    padding: 20px;
    top:0px;
}
.our_story_img {
    position: relative;
    height: 255px;
}
.our_story_img:after {
  
    height: 100%;
  
    left: 0px;
}
.space {
    padding: 40px 0px;
}

#bottom-bar {
        
    min-height: 95px;
}
#header .logo img{
        max-width: 150px;
}
.mobile_cart{
   display: flex;
    height: 58px;
    justify-content: flex-end;

}
.mobile_cart ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    margin-bottom: 0px;
}
.mobile_cart ul li{
list-style: none;
margin-left: 10px;
    height: 25px;
    display: flex;
    align-items: center;
}
.cart_num_sm{
    position: relative;
}

.cart_num_sm span {
    position: absolute;
    right: -13px;
    display: flex;
    top: -5px;
      background: #e01e1e;
    width: 18px;
    border-radius: 50%;
    height: 18px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}


.user{
    display: none;
}
.cart_num{
    display: none;
}

/*.get_email .input-group {
    display: block;
    width: 100%;
}*/
/*.get_email input{
    width: 100% !important;
}
*//*#mail_btn {
   margin-top: 10px;
    padding: 17px 28px;
   
}*/
#mail_btn {
    /* margin-top: 10px; */
    padding: 0px 12px;
    font-size: 11px;
}
.button_all .btn_a{
    margin-left: 15px;
    color: #fff;
}
.
    .company_logo_top {
    padding: 50px 0px;
    
}
.footer_text .social li {
    margin-right: 3px;
}
.footer {
    background-color: #192027;
    padding-top: 45px;
}
.our_story_box {
    
    right: 0px;
        width: 100%;
    top: 0px;
}
}

@media (max-width: 767px){ 
     .banner_img:before{
        right: 0px;
    }
.range_img {
    height: 319px;
        margin-bottom: 10px;
      }
      .range_img_text p {
    
    margin-bottom: 30px;
}
/*      .banner {
    height: auto !important;
}*/
.copyright p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}
.terms p {
    text-align: center;
}
.main_title h2 {
    font-size: 40px;
    margin-bottom: 0px;
}
.footer {
    
    padding-top: 45px;
}
.range .banner_button {
    margin-top: 10px;
}
.button_all .btn_w {
    background-color: #162b32;
    color: #fff;
   
    margin-left: 15px;
    margin-top: 10px;
}

.get_email{
    background-color: #1d2731;
    padding: 20px;
    margin: 25px 0px 5px;
}
}

@media (min-width: 769px) and (max-width: 1024px){ 
#header .logo img {
    padding: 0;
    max-width: 170px;
}
.main-nav > ul > li{
    margin-right: 6px;
}
.button_all .btn_a{
    margin-right: 8px;
        padding: 14px 7px;
}

.button_all .btn_w{
    padding: 14px 7px;
}
.banner_img:before{
        right: -46px;
}
.footer_text .social li{
        margin-right: 15px;
}
.our_story_box {
    background-color: #07427f; 
    position: absolute;
    right: -32px;
    /* margin: 164px; */
    width: 59%;
    padding: 49px;
    top: 0px;
    color: #fff;
}

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
#header .logo img {
    padding: 0;
    max-width: 170px;
}
.main-nav > ul > li{
    margin-right: 6px;
}
.button_all .btn_a{
    margin-right: 8px;
        padding: 14px 16px;
}
.our_story_box {
    
    right: -33px;
        width: 58%;
    top: 0px;
}
.button_all .btn_w{
    padding: 14px 13px;
}
.banner_img:before{
        right: -46px;
}
.footer_text .social li{
        margin-right: 15px;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #header .logo img {
    padding: 0;
    max-width: 170px;
}
.main-nav > ul > li{
    margin-right: 6px;
}
.button_all .btn_a{
    margin-right: 8px;
        padding: 14px 16px;
}
.our_story_box {
    
    right: -33px;
        width: 58%;
    top: 0px;
}
.button_all .btn_w{
    padding: 14px 13px;
}
.banner_img:before{
        right: -46px;
}
.footer_text .social li{
        margin-right: 15px;
}
}





/************* inner pages **********/
.clear {clear: both;}
#header.inr-hdr {
    background-color: #192027;
}
.register {
    background: #f4f4f4;
    margin: 100px 0;
    padding: 80px 100px;
    box-shadow: 4px 4px 10px #d6d6d6;
}
.register h3 {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-family: graphiksemibold;
    font-size: 36px;
    color: #162b32;
    margin: 0 0 25px;
}
.form-group {
    margin-bottom: 24px;
}
label {
    font-size: 16px;
    color: #444;
}
.form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    font-size: 15px;
}
label.form-check-label {
    font-size: 14px;
}
.form-group.form-check {
    padding: 0;
}
input.form-check-input {
    position: static;
    margin: 2px 7px 0 0;
    float: left;
}
.select-file {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 15px;
    font-size: 15px;
    background: #fff;
}
label.form-check-label {
    font-size: 14px;
}
.form-group.form-check a {
    color: #07427f;
}
.form-group.reg-btn {
    text-align: center;
}
.form-group.reg-btn .btn {
    min-width: 160px;
    text-align: center;
}
.inr-page .btn {
    background-color: #07427f;
    border: 0px;
    border-radius: 0px;
    padding: 14px 24px;
    margin-right: 14px;
    color: #fff;
    font-size: 14px;
    font-family: graphiksemibold;
    text-transform: uppercase;
    font-weight: 500;
}
.inr-page .btn:hover {
    background-color: #162b32;
    color: #fff;
}

/******** contact *******/
.inr-page.contact-page {
    padding: 100px 0;
}
.inr-bnr {
    position: relative;
}
.inr-bnr:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    content: '';
}
.inr-bnr img {
    width: 100%;
}
.inr-bnr h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #fff; z-index: 1;
    font-size: 48px; text-align: center;
}
.inr-page h2 {
    display: block;
    text-transform: capitalize;
    font-family: graphiksemibold;
    font-size: 36px;
    color: #162b32;
    margin: 0 0 40px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px;
}
.contact-page form {
    padding-right: 95px;
}
.contact-page .form-control {
    background: #eeeeee;
}
textarea.form-control {
    height: 150px;
}
.contact-page button.btn {
    min-width: 200px;
}
.cont-adrs {
    background: #07427f;
    padding: 20px; margin: 31px 0 0;
    color: #fff;
}
.cont-adrs h4 {
    color: #fff;
    border-bottom: 1px solid #205993;
    padding: 0 0 12px;
    font-size: 30px;
}
ul {
    list-style: none;
    padding: 0;
}
.cont-adrs li {
    display: block;
    border-bottom: 1px solid #205993;
    margin: 0 0 18px;
}
.cont-adrs li:last-child {
    display: block;
    border-bottom: none;
    margin: 0;
}
.cont-adrs li span {
    display: inline-block;
    font-size: 16px;
    color: #71a8e1;
}
.cont-adrs li i {
    float: left;
    font-size: 24px;
    color: #71a8e1;
    width: 32px;
}
.cont-adrs p {
    display: block;
    padding-left: 34px;
    font-size: 16px;
    font-family: graphiksemibold;
}
.ct-logo {
    display: block;
    padding: 26px 0;
}
.ct-logo {
    text-align: center;
}
.ct-logo img {
    max-width: 100%;
}

.inr-page {
    padding: 100px 0;
}
.club-block img {
    width: 100%;
}
.club-block h3 a {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
}
ul.pagination {
    text-align: right;
    display: block;
}
ul.pagination li.page-item {
    display: inline-block;
    margin-left: 13px;
}
ul.pagination li.page-item .page-link {
    padding: 7px 12px;
    color: #007bff;
    border-radius: 100%;
    color: #242424;
}
ul.pagination li:first-child a.page-link, ul.pagination li:last-child a.page-link {
    background: transparent !important;
    color: #242424;
    border: none;
    width: auto;
}
ul.pagination li:first-child a.page-link:hover, ul.pagination li:last-child a.page-link:hover {
    color: #07427f !important;
}
ul.pagination li.page-item .page-link {
    padding: 7px 12px;
    color: #007bff;
    border-radius: 100%;
    color: #242424;
}
ul.pagination li a:hover, ul.pagination li:nth-child(2) a {
    background: #07427f;
    color: #fff !important ;
    border: 1px solid #07427f;
}
ul.pagination li:last-child a.page-link {
    padding-right: 0;
}

.inr-bnr.list-bnr h1 {
    font-size: 40px;
}
.inr-bnr h1 span {
    display: block;
    text-align: center;
}
.inr-bnr span img {
    width: 130px;
}
.prd-block {
    display: block;
    background: #f4f4f4;
    text-align: center;
    padding: 20px 0 35px;
    margin: 0 0 30px;
    border: 1px solid #bbbbbb;
    box-shadow: 3px 3px 5px #bfbfbf;
}
.prd-block h3 {
    color: #162b32;
    font-family: graphiksemibold;
    text-transform: none;
    font-size: 18px;
    margin: 11px 0 0;
}
.prd-amt {
    display: block;
    padding: 12px 0 18px;
    font-size: 20px;
    color: #07427f;
    font-weight: 600;
}
.prd-amt span {
    color: #444444;
    text-decoration: line-through;
    margin-left: 5px;
    font-weight: 500;
}


/******* detail-page *******/

.detail-img img {
    width: 100%;
}
.detail-lft ul {
    text-align: center;
}
.detail-lft ul li {
    display: inline-block;
    margin: 15px 6px 0;
    width: 15%;
    text-align: center;
}
.detail-lft ul li img {
    width: 100%;
}
.detail-lft ul li:hover img {
    opacity: 0.7;
}
.detail-rgt {
    padding-left: 45px;
}
.detail-rgt h3 {
    font-size: 34px;
    color: #162b32; margin: 0 0 12px;
}
.prd-amt {
    font-size: 26px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 10px;
    margin: 0 0 10px;
}
.prd-ctg {
    font-size: 18px;
    color: #000;
    margin: 0 0 8px;
}
.detail-rgt p {
    font-size: 16px;
    margin: 0 0 6px;
}
.detail-rgt label {
    font-size: 18px;
    color: #000; display: block;
}
.detail-rgt ul {
    margin: 0 0 10px;
}
.detail-rgt li {
    display: inline-block;
    position: relative;
    margin-right: 7px;
}
.prd-quantity input {
    margin: 0 0 25px;
    border: 1px solid #e5e5e5;
    padding: 11px;
    display: inline-block;
    width: 70px;
    color: #444; outline: none;
    background: #f7f7f7;
}
.detail-btns .btn {
    width: 200px;
    padding: 16px 0;
    font-size: 15px;
    text-transform: uppercase;
}
.detail-btns .buy-btn {
    background: #162b32;
}
.detail-btns .buy-btn:hover {
    background: #07427f;
}
p.prd-info {
    color: #444;
    margin: 35px 0 0;
}
.detail-rgt li span {
    width: 45px;
    display: block;
    height: 45px;
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
}
.detail-rgt li input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
}
.detail-rgt li:hover span.size-box, .detail-rgt li:focus span.size-box {
    background: #07427f;
    color: #fff;
}
.prd-color {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 5px;
    margin: 20px 0 10px;
}
.colurs-Filter span.grey {
    background: #3d3c42;
}
.colurs-Filter span.blue {
    background: #1b64af;
}
.colurs-Filter span.red {
    background: #d40808;
}
.colurs-Filter span.yellow {
    background: #f9c204;
}

/********* cart page ********/
table thead tr td {
    font-size: 18px;
    color: #fff;
    background-color: #07427f;
}
.table td, .table th {
    vertical-align: middle;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #cccccc;
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #cccccc;
}
table tbody tr td, table tbody tr td a {
    font-size: 16px;
    color: #444;
}
.cart-page td input.form-control {
    padding: 0;
    text-align: center;
    height: 50px;
    width: 39px;
}
.cart-page td .btn {
    margin: 0 -1px;
    height: 50px !important;
}
.cart_total ul {
    float: right;
}
.cart_total li {
    display: block;  font-size: 16px; color: #444444;
    margin: 0 0 10px;
}
.cart_total .text-right {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}
.cart_total li {
    color: #444444;
}
.cart-btns {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    text-align: right;
}
.cart-btns .btn {
    margin: 0 0 0 10px;
    font-size: 15px;
    padding: 15px 35px;
}
.cart-btns .check_btn {
    background: #162b32;
}
.cart-btns .check_btn:hover {
    background: #07427f;
}

/******* checkout *****/
.check-order {
    background: #f1f1f1;
    padding: 20px;
}
.checkout-page h3 {
    font-family: graphikregular;
    text-transform: inherit;
    font-size: 24px;
}
.check-table b, .check-table span {
    display: block;
}
.check-table td {
    padding: 15px 5px; font-size: 14px;
    text-align: left !important;
}
.check-table tr td:nth-child(2) {
    width: 102px;
    padding-left: 7px;
}
.check-num span {
    display: inline-block;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 4px 12px;
    text-align: center;
    margin: 2px 2px;
}
.check-table td:last-child {
    vertical-align: bottom;
}
.check-order .cart_total li {
    font-size: 14px;
}
.check-table td b {
    margin: 0 0 3px;
}
.cart_total {
    border-top: 1px solid #dee2e6;
    padding-top: 18px;
}
.shipping-txt {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 25px 0;
    margin: 0 0 25px;
}
.shipping-txt label {
    display: block;
    font-weight: 700;
    margin: 0 0 8px;
}
.select-country span {
    float: left;
    width: 10%; margin: 12px 0 0;
}
.select-country select {
    border: 1px solid #ddd;
    padding: 14px 8px;
    width: 88%;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin-left: 2%;
    float: right;
    outline: none;
}
.track-info {
    background: #fff;
    padding: 20px;
}
.track-info span:first-child {
    margin-right: 5px;
}
.track-info span {
    display: inline;
    font-size: 16px;
    color: #000;
}
.track-info p {
    display: block;
    padding-left: 46px;
    font-size: 12px;
    color: #777;
    margin: 4px 0 0;
}
.track-info input {
    float: right;
    margin: 3px 0 0;
}
.check-form .form-group {
    margin: 0 0 12px;
}
.check-form label {
    margin: 0 0 5px;
}
.check-form .form-control {
    height: 45px;
    line-height: 45px;
}
.check-form h3 {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 19px;
}
.exp_date {
    float: left;
    width: 60%;
}
.card_exp label {
    display: block;
}
.card_detail .form-control {
    margin: 0 0 30px;
}
.card-month {
    float: left;
    width: 45%;
}
.card-year {
    float: left;
    width: 55%;
    border-left-color: #fff !important;
}
.cvv_code.cvv_num {
    float: left;
    width: 37%;
    margin: 0 0 0 3%;
    position: relative;
}
.cvv_code input, .cvv_code input:focus {
    padding-right: 55px;
}
.cvv_code img {
    position: absolute;
    right: 10px;
    top: 41px;
}
.submit-order {
    background: #f1f1f1;
    margin: 30px 0 0;
    text-align: center;
    padding: 20px 0;
}
.submit-order .btn {
    width: 220px;
    max-width: 100%;
}



/************** media *****************/

@media (max-width: 1199px) {
.inr-page.contact-page {padding: 70px 0;}
.cont-adrs li span {font-size: 14px;}
.cont-adrs p {font-size: 13px;}
.ct-logo {padding: 44px 0;}
.detail-btns .btn {width: 180px;}
.checkout-page h3 {font-size: 18px;}
.track-info span {font-size: 14px;}
}

@media (max-width: 991px) {
.register {padding: 50px;}
.contact-page form {padding-right: 0;}
.detail-rgt {padding-left: 0px; margin-top: 35px;}
.inr-page {padding: 70px 0;}
.check-form {margin-top: 30px;}
}

@media (max-width: 767px) {
.inr-page.contact-page {padding: 50px 0;}
.register {padding: 40px 20px;}
.register h3 {font-size: 24px;}
.contact-page .col-xs-12.col-sm-7.col-lg-8, .contact-page .col-xs-12.col-sm-5.col-lg-4 {flex: 0 0 100%; max-width: 100%;}
.check-card {margin-bottom: 30px;}
}

@media (max-width: 575px) {

}

@media (max-width: 479px) {
.detail-btns .btn {width: 160px; margin: 0 5px 0 0;}
.cart-btns .btn {margin: 0 0 0 8px; font-size: 14px; padding: 15px 24px;}
.inr-page {padding: 50px 0;}
.inr-bnr h1 {font-size: 24px;}
.inr-page h2 {font-size: 28px;}
}

div#products_data .pagination_div {
    display: none;
}





















